#beach_jess:hover {
  cursor: url('../../../../images/hand.png') 30 100,auto;
}


/* -------------------------- NAVIGATE TO ROOM 10 ---------------------------- */

#room9_go_to_room_10{
  position: absolute;
  top: 289px;
  left: 489px;
  width: 113px;
  height: 350px;
  /* border: 6px solid purple; */
}

#room9_go_to_room_10:hover{
  cursor: url('../../../../images/arrows/up_arrow.png') 10 30,auto;
}

 #room9_go_to_room_10_text {
  width: 100px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  margin: auto;
 }

 #room9_go_to_room_10:hover #room9_go_to_room_10_text  {
   visibility: visible;
 }

/* -------------------------- NAVIGATE TO ROOM 6 ---------------------------- */

#room9_go_to_room_6{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 250px;
  height: 200px;
  /* border: 6px solid purple; */
}

#room9_go_to_room_6:hover{
  cursor: url('../../../../images/arrows/straight_down_arrow.png') 50 80,auto;
}

 #room9_go_to_room_6_text {
  width: 100px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  margin: auto;
 }

 #room9_go_to_room_6:hover #room9_go_to_room_6_text  {
   visibility: visible;
 }



/* -------------------------- NAVIGATE TO ROOM 4 ---------------------------- */

#room9_go_to_room_4{
  position: absolute;
  bottom: 0px;
  left: 282px;
  width: 250px;
  height: 200px;
  /* border: 6px solid purple; */
}

#room9_go_to_room_4:hover{
  cursor: url('../../../../images/arrows/straight_down_arrow.png') 50 80,auto;
}

 #room9_go_to_room_4_text {
  width: 100px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  margin: auto;
 }

 #room9_go_to_room_4:hover #room9_go_to_room_4_text  {
   visibility: visible;
 }

/* -------------------------- NAVIGATE TO ROOM 1 ---------------------------- */

#room9_go_to_room_1{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 180px;
  height: 127px;
  /* border: 6px solid purple; */
}

#room9_go_to_room_1:hover{
  cursor: url('../../../../images/arrows/straight_down_arrow.png') 50 80,auto;
}

 #room9_go_to_room_1_text {
  width: 100px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  margin: auto;
 }

 #room9_go_to_room_1:hover #room9_go_to_room_1_text  {
   visibility: visible;
 }

/* ---------------------------- TALK TO JESSICA ----------------------------- */

#beach_jess {
  position: absolute;
  width: 80px;
  height: 160px;
  top: 610px;
  left: 630px;
  /* border: 3px solid green; */
}

#beach_jess_message {
  position: absolute;
      height: 288px;
      width: 326px;
      top: 313px;
      left: 407px;
}

#beach_jess_bubble {
  position: absolute;
  height: 288px;
  width: 326px;
  left: 0px;
}

#beach_jess_message_text {
    position: absolute;
    width: 250px;
    top: 31px;
    left: 33px;
    font-family: 'vcr';
    font-size: 13px;
    line-height: 1.3;
}
