/* -------------------------- NAVIGATE TO ROOM 10 ---------------------------- */

#room9_go_to_room_10{
  position: absolute;
  top: 300px;
  left: 513px;
  width: 130px;
  height: 400px;
  /* border: 6px solid purple; */
}

#room9_go_to_room_10:hover{
  cursor: url('../../../../images/arrows/up_arrow.png') 10 30,auto;
}

 #room9_go_to_room_10_text {
  width: 100px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  margin: auto;
 }

 #room9_go_to_room_10:hover #room9_go_to_room_10_text  {
   visibility: visible;
 }

/* -------------------------- NAVIGATE TO ROOM 6 ---------------------------- */

#room9_go_to_room_6{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 250px;
  height: 200px;
  /* border: 6px solid purple; */
}

#room9_go_to_room_6:hover{
  cursor: url('../../../../images/arrows/straight_down_arrow.png') 50 80,auto;
}

 #room9_go_to_room_6_text {
  width: 100px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  margin: auto;
 }

 #room9_go_to_room_6:hover #room9_go_to_room_6_text  {
   visibility: visible;
 }



/* -------------------------- NAVIGATE TO ROOM 4 ---------------------------- */

#room9_go_to_room_4{
  position: absolute;
  bottom: 0px;
  left: 320px;
  width: 250px;
  height: 200px;
  /* border: 6px solid purple; */
}

#room9_go_to_room_4:hover{
  cursor: url('../../../../images/arrows/straight_down_arrow.png') 50 80,auto;
}

 #room9_go_to_room_4_text {
  width: 100px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  margin: auto;
 }

 #room9_go_to_room_4:hover #room9_go_to_room_4_text  {
   visibility: visible;
 }

/* -------------------------- NAVIGATE TO ROOM 1 ---------------------------- */

#room9_go_to_room_1{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 180px;
  height: 200px;
  /* border: 6px solid purple; */
}

#room9_go_to_room_1:hover{
  cursor: url('../../../../images/arrows/straight_down_arrow.png') 50 80,auto;
}

 #room9_go_to_room_1_text {
  width: 100px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  margin: auto;
 }

 #room9_go_to_room_1:hover #room9_go_to_room_1_text  {
   visibility: visible;
 }

/* ---------------------------- TALK TO JESSICA ----------------------------- */

#beach_jess {
  position: absolute;
  width: 80px;
  height: 160px;
  top: 610px;
  left: 630px;
  /* border: 3px solid green; */
}

#beach_jess_message {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 410px;
  left: 650px;
  /* border: 3px solid green; */
  background-color: white;
}
