#room7phone:hover, #fridge_note:hover, #beach_club_address:hover {
  cursor: url('../../../../images/hand.png') 30 100,auto;
}


/* -------------------------- NAVIGATE TO ROOM 6 ---------------------------- */

#room7_go_to_room_6{
  position: absolute;
  top: 445px;
  left: 10px;
  width: 140px;
  height: 239px;
  /* border: 6px solid purple; */

}

#room7_go_to_room_6:hover{
  cursor: url('../../../../images/arrows/left_arrow.png') 10 30,auto;
}

 #room7_go_to_room_6_text {
  width: 100px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
 }

 #room7_go_to_room_6:hover #room7_go_to_room_6_text  {
   visibility: visible;
 }

/* -------------------------- NAVIGATE TO ROOM 6 ---------------------------- */

#room7_go_to_room_8{
  position: absolute;
  bottom: 0px;
  left: 10px;
  width: 217px;
  height: 200px;
  /* border: 6px solid purple; */
}

#room7_go_to_room_8:hover{
  cursor: url('../../../../images/arrows/diagonal_left_up_arrow.png') 30 30,auto;
}

 #room7_go_to_room_8_text {
  width: 100px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
 }

 #room7_go_to_room_8:hover #room7_go_to_room_8_text  {
   visibility: visible;
 }

/* -------------------------------- PHONE ----------------------------------- */

#room7phone {
  position: absolute;
  width: 90px;
  height: 51px;
  bottom: 28px;
  left: 241px;
  /* border: 3px solid green; */
}

/* --------------------------------- NOTE ----------------------------------- */

#fridge_note {
  position: absolute;
  top: 388px;
  left: 30px;
  height: 44px;
}

#beach_club_address {
  position: absolute;
  z-index: 3;
  left: 100px;
  top: 100px;
}

#clear_beach_address {
  position: absolute;
  height: 384px;
  width: 363px;
}
