/* ---------------------------- ROOM NAVIGATION ----------------------------- */

#room7_go_to_room_6 {
  top: 380px;
  left: 0px;
  width: 180px;
  height: 250px;
}

#room7_go_to_room_8 {
  bottom: 0px;
  left: 0px;
  width: 280px;
  height: 150px;
}

/* -------------------------------- PHONE ----------------------------------- */

#room7phone {
  position: absolute;
  width: 90px;
  height: 50px;
  top: 800px;
  left: 300px;
  border: 3px solid green;
}

/* --------------------------------- NOTE ----------------------------------- */

#fridge_note {
  position: absolute;
  top: 312px;
  left: 30px;
}

#beach_club_address {
  position: absolute;
  border: 6px solid purple;
  height:200px;
  width: 200px;
  top: 200px;
  left: 580px;
  z-index: 3;
}
