#jess_tennis_racket:hover, #jess_shoes:hover, #jess_ashtray:hover, #keys:hover, #room5_vacuum:hover{
  cursor: url('../../../../images/hand.png') 30 100,auto;
}



/* -------------------------- NAVIGATE TO ROOM 4 ---------------------------- */

#room5_go_to_room_4{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 250px;
  height: 200px;
  /* border: 6px solid purple; */
}

#room5_go_to_room_4:hover{
  cursor: url('../../../../images/arrows/diagonal_left_arrow.png') 10 80,auto;
}

 #room5_go_to_room_4_text {
  width: 100px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
 }

 #room5_go_to_room_4:hover #room5_go_to_room_4_text  {
   visibility: visible;
 }

/* -------------------------- NAVIGATE TO ROOM 6 ---------------------------- */

#room5_go_to_room_6{
  position: absolute;
  top: 150px;
  left: 289px;
  width: 85px;
  height: 250px;
  /* border: 6px solid purple; */
}

#room5_go_to_room_6:hover{
  cursor: url('../../../../images/arrows/right_arrow.png') 80 30,auto;
}

 #room5_go_to_room_6_text {
  width: 150px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
 }

 #room5_go_to_room_6:hover #room5_go_to_room_6_text  {
   visibility: visible;
 }

/* ---------------------------- TENNIS RACKET ------------------------------- */

#jess_tennis_racket{
  position: absolute;
  width: 77px;
  height: 78px;
  top: 420px;
  left: 148px;

}

#tennis_message {
   position: absolute;
   height: 211px;
   width: 297px;
   top: 485px;
   left: 168px;

}

#tennis_message_bubble {
    position: absolute;
    height: 222px;
    width: 250px;
    left: 0px;
  }

#tennis_message_bubble_text {
    position: absolute;
    width: 208px;
    top: 98px;
    left: 12px;
    font-family: 'vcr';
    font-size: 13px;
    line-height: 1.3;
}

/* -------------------------------- VACUUM ---------------------------------- */

#room5_vacuum{
  position: absolute;
  width: 110px;
  height: 277px;
  bottom: 0px;
  left: 284px;
  /* border: 3px solid green; */

}

#room5_vacuum_message {
  position: absolute;
      height: 190px;
      width: 210px;
      top: 429px;
      left: 271px;

}

#room5_vacuum_message_bubble {
  position: absolute;
  height: 190px;
  width: 210px;
  left: 0px;

  }

#room5_vacuum_message_bubble_text {
  position: absolute;
  width: 165px;
  top: 38px;
  left: 12px;
  font-family: 'vcr';
  font-size: 13px;
  line-height: 1.3;
}


/* -------------------------------- SHOES ----------------------------------- */

#jess_shoes{
  position: absolute;
  width: 64px;
  height: 43px;
  top: 400px;
  left: 227px;

}

#shoe_message {
    position: absolute;
    height: 184px;
    width: 220px;
    top: 216px;
    left: 108px;
  }

  #shoe_message_bubble {
      position: absolute;
      height: 184px;
      width: 220px;
      left: 0px;
    }

  #shoe_message_bubble_text {
      position: absolute;
      width: 171px;
      top: 43px;
      left: 8px;
      font-family: 'vcr';
      font-size: 13px;
      line-height: 1.3;
    }

/* ------------------------------ ASHTRAY ----------------------------------- */

#jess_ashtray {
  position: absolute;
  width: 40px;
  height: 36px;
  bottom: 185px;
  left: 109px;
  /* border: 3px solid green; */
}

#ashtray_message {
    position: absolute;
    height: 172px;
    width: 220px;
    top: 499px;
    left: 5px;
  }

  #ashtray_message_bubble {
      position: absolute;
      height: 184px;
      width: 220px;
      left: 0px;
    }

  #ashtray_message_bubble_text {
      position: absolute;
      width: 171px;
      top: 33px;
      left: 8px;
      font-family: 'vcr';
      font-size: 13px;
      line-height: 1.3;
    }

/* ------------------------------ KEYS ----------------------------------- */

#keys {
  position: absolute;
  z-index: 3;
}

#clear_keys {
  position: absolute;
  top: 0px;
  height: 40px;
  width: 49px;
  z-index: 4;
}
