/* -------------------------- NAVIGATE TO ROOM 4 ---------------------------- */

#room5_go_to_room_4{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 250px;
  height: 200px;
  /* border: 6px solid purple; */
}

#room5_go_to_room_4:hover{
  cursor: url('../../../../images/arrows/diagonal_left_arrow.png') 10 80,auto;
}

 #room5_go_to_room_4_text {
  width: 100px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
 }

 #room5_go_to_room_4:hover #room5_go_to_room_4_text  {
   visibility: visible;
 }

/* -------------------------- NAVIGATE TO ROOM 6 ---------------------------- */

#room5_go_to_room_6{
  position: absolute;
  top: 50px;
  left: 300px;
  width: 150px;
  height: 250px;
  /* border: 6px solid purple; */
}

#room5_go_to_room_6:hover{
  cursor: url('../../../../images/arrows/right_arrow.png') 80 30,auto;
}

 #room5_go_to_room_6_text {
  width: 150px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
 }

 #room5_go_to_room_6:hover #room5_go_to_room_6_text  {
   visibility: visible;
 }

/* ---------------------------- TENNIS RACKET ------------------------------- */

#jess_tennis_racket{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 320px;
  right: 620px;
}

#tennis_message {
  position: absolute;
  /* border: 3px solid green; */
  width: 150px;
  height: 120px;
  top: 220px;
  right: 650px;
    background-color:white;
}

/* -------------------------------- SHOES ----------------------------------- */

#jess_shoes{
  position: absolute;
  width: 80px;
  height: 50px;
  top: 300px;
  right: 540px;
}

#shoe_message {
  position: absolute;
  width: 150px;
  height: 120px;
  top: 220px;
  right: 650px;
    background-color:white;
}

/* ------------------------------ ASHTRAY ----------------------------------- */

#jess_ashtray {
  position: absolute;
  /* border: 3px solid green; */
  width: 40px;
  height: 50px;
  bottom: 220px;
  left: 130px;
}

#ashtray_message {
  position: absolute;
  border: 3px solid green;
  width: 150px;
  height: 120px;
  top: 520px;
  right: 650px;
    background-color:white;
}

/* ------------------------------ KEYS ----------------------------------- */

#keys {
  position: absolute;
  height: 40px;
  width: 49px;
  bottom: 220px;
  left: 130px;
  z-index: 3;
}

#clear_keys {
  position: absolute;
  top: 0px;
  height: 40px;
  width: 49px;
  z-index: 4;
}
