
#clothes:hover, #shoes:hover, #snake:hover {
  cursor: url('../../../../images/hand.png') 30 100,auto;
}

/* -------------------------- NAVIGATE TO ROOM 2 ---------------------------- */

#room3_go_to_room_2{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100px;
  height: 230px;
  /* border: 6px solid purple; */
}

#room3_go_to_room_2:hover{
  cursor: url('../../../../images/arrows/straight_left_arrow.png') 10 50,auto;
}

 #room3_go_to_room_2_text {
  width: 100px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
 }

 #room3_go_to_room_2:hover #room3_go_to_room_2_text  {
   visibility: visible;
 }


/* ------------------------------- CLOTHES  --------------------------------- */

#shoes {
  position: absolute;
  width: 120px;
  height: 80px;
  bottom: 34px;
  left: 576px;
  /* border: 6px solid green; */
}

#clothes {
  position: absolute;
  width: 155px;
  height: 120px;
  bottom: 79px;
  left: 510px;
  /* border: 6px solid purple; */
}

#clothes_message {
  position: absolute;
  width: 200px;
  height: 80px;
  bottom: 210px;
  left: 500px;
  background-color:white;
}

/* -------------------------------- SNAKE  ---------------------------------- */

#snake {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 190px;
  left: 119px;
  /* border: 6px solid purple; */
}

.snake_message {
  position: absolute;
  width: 250px;
  height: 120px;
  bottom: 330px;
  left: 150px;
  background-color: white;
}
