#wine_glass_right:hover, #wine_glass_left:hover, #allisons_tennis_racket:hover, #cigs:hover, #room8phone:hover, #beach_scene:hover {
  cursor: url('../../../../images/hand.png') 30 100,auto;
}



/* -------------------------- NAVIGATE TO ROOM 6 ---------------------------- */

#room8_go_to_room_7{
  position: absolute;
  bottom: 0px;
  left: 10px;
  width: 300px;
  height: 200px;
  /* border: 6px solid purple; */
}

#room8_go_to_room_7:hover{
  cursor: url('../../../../images/arrows/down_left_arrow.png') 10 30,auto;
}

 #room8_go_to_room_7_text {
  width: 100px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
 }

 #room8_go_to_room_7:hover #room8_go_to_room_7_text  {
   visibility: visible;
 }



/* ------------------------------ WINE GLASSES ------------------------------ */

#wine_glass_left{
  position: absolute;
  width: 120px;
  height: 160px;
  top: 480px;
  right: 700px;
  /* border: 3px solid green; */
}


#wine_glasses_message {
  position: absolute;
  width: 200px;
  height: 120px;
  top: 650px;
  right: 680px;
  border: 3px solid green;
  background-color: white;
}

/* ----------------------------- TENNIS RACKET ------------------------------ */

#allisons_tennis_racket {
  position: absolute;
  width: 260px;
  height: 120px;
  top: 450px;
  left: 420px;
  /* border: 3px solid green; */
}

#racket_message {
  position: absolute;
  width: 260px;
  height: 120px;
  top: 580px;
  left: 420px;
  background-color: white;
}

/* ------------------------------ CIGARETTES -------------------------------- */

#cigs {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 615px;
  left: 250px;
  /* border: 3px solid green; */
}

#cigs_message {
  position: absolute;
  width: 260px;
  height: 120px;
  top: 715px;
  left: 250px;
  /* border: 3px solid green; */
  background-color: white;
}

/* -------------------------------- PHONE ----------------------------------- */

#room8phone {
  position: absolute;
  width: 80px;
  height: 50px;
  top: 580px;
  left: 690px;
  /* border: 3px solid green; */
}

/* -------------------------- BEACH SCENE ON TV ----------------------------- */

#beach_scene {
  position: absolute;
  width: 125px;
  height: 100px;
  top: 155px;
  left: 15px;
    /* border: 3px solid green; */
    z-index:5;
}
#beach_message {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 155px;
  left: 200px;
  background-color: white;
}
