/* ---------------------------- ROOM NAVIGATION ----------------------------- */

#room6_go_to_room_4 {
  top: 450px;
  left: 0px;
  width: 180px;
  height: 250px;
}

#room6_go_to_room_7 {
  top: 0px;
  right: 200px;
  width: 180px;
  height: 500px;
}

#room6_go_to_room_9 {
  bottom: 0px;
  right: 0px;
  width: 300px;
  height: 140px;
}


/* ---------------------------- PHONE MESSAGES ------------------------------ */

#room6phone {
  position: absolute;
  width: 50px;
  height: 80px;
  top: 308px;
  left: 100px;
  border: 3px solid green
}

#dads_message {
  position: absolute;
  top:0px;
  background-color:white;
  border: 3px solid green;
  height: 100px;
  width: 100px;
}
