/* ---------------------------- ROOM NAVIGATION ----------------------------- */

 #room1_go_to_room_2 {
   top: 150px;
   left: 350px;
   width: 200px;
   height: 300px;
 }

 #room1_go_to_room_3 {
   bottom: 0px;
   right: 0px;
   width: 200px;
   height: 180px;
 }

 #room1_go_to_room_4 {
   bottom: 0px;
   left: 0px;
   width: 200px;
   height: 300px;
 }

 /* ----------------------------- OPENING STORY ----------------------------- */

.story {
  position: absolute;
  background: black;
  color: white;
  width: 900px;
}

 #opening_story {
   top: 0px;
   height:100px;
 }

 #show_story {
   top: 0px;
 }

/* ---------------------------------- PHONE --------------------------------- */

#phone {
  position: absolute;
  top: 350px;
  left: 140px;
  width: 70px;
  height: 30px;
  /* border: 6px solid green; */
}
