#tennis_racket:hover{
  cursor: url('../../../../images/hand.png') 30 100,auto;
}

/* -------------------------- NAVIGATE TO ROOM 1 ---------------------------- */

#room2_go_to_room_1{
  position: absolute;
  top: 271px;
  left: 162px;
  width: 100px;
  height: 250px;
  /* border: 6px solid purple; */
}

#room2_go_to_room_1:hover{
  cursor: url('../../../../images/arrows/left_arrow.png') 30 30,auto;
}

 #room2_go_to_room_1_text {
  /* width: 100px; */
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
 }

 #room2_go_to_room_1:hover #room2_go_to_room_1_text  {
   visibility: visible;
 }

/* -------------------------- NAVIGATE TO ROOM 3 ---------------------------- */

#room2_go_to_room_3{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 300px;
  height: 90px;
  /* border: 6px solid purple; */
}

#room2_go_to_room_3:hover{
  cursor: url('../../../../images/arrows/straight_down_arrow.png') 50 80,auto;
}

 #room2_go_to_room_3_text {
  width: 100px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
 }

 #room2_go_to_room_3:hover #room2_go_to_room_3_text  {
   visibility: visible;
 }

/* --------------------------------- TENNIS --------------------------------- */

#tennis_racket {
  position: absolute;
  width: 180px;
  height: 100px;
  bottom: 71px;
  left: 369px;
  /* border: 3px solid green; */
}

#racket_message {
  position: absolute;
  border: 6px solid purple;
  width: 200px;
  height: 170px;
  bottom: 210px;
  left: 500px;
    border: 3px solid green;
}
/* ----------------------------------- BED ---------------------------------- */

#bed {
  position: absolute;
  width: 319px;
  height: 300px;
  bottom: 216px;
  right: 0px;
  /* border: 3px solid green; */
}

#bed:hover{
  cursor: url('../../../../images/hand.png') 30 100,auto;
}

#bed_message {
  position: absolute;
  border: 6px solid purple;
  width: 200px;
  height: 170px;
  bottom: 210px;
  left: 500px;
    background-color:white;
}
