#jessica:hover, #knees:hover, #cell_phone:hover, #plant:hover, #phone_number:hover, #cell_phone:hover, #room4phone:hover, #room4crumpled_note:hover {
  cursor: url('../../../../images/hand.png') 30 100,auto;
}


/* -------------------------- NAVIGATE TO ROOM 5 ---------------------------- */

#room4_go_to_room_5{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 200px;
  height: 170px;
  /* border: 6px solid purple; */
}

#room4_go_to_room_5:hover{
  cursor: url('../../../../images/arrows/diagonal_right_arrow.png') 80 10,auto;
}

 #room4_go_to_room_5_text {
  width: 100px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
 }

 #room4_go_to_room_5:hover #room4_go_to_room_5_text  {
   visibility: visible;
 }

 /* -------------------------- NAVIGATE TO ROOM 1 ---------------------------- */

 #room4_go_to_room_1{
   position: absolute;
   bottom: 0px;
   left: 10px;
   width: 180px;
   height: 300px;
   /* border: 6px solid purple; */
 }

 #room4_go_to_room_1:hover{
   cursor: url('../../../../images/arrows/down_left_arrow.png') 10 30,auto;
 }

  #room4_go_to_room_1_text {
   width: 100px;
   visibility: hidden;
   background-color: black;
   color: #fff;
   border-radius: 6px;
   padding: 5px 0;
  }

  #room4_go_to_room_1:hover #room4_go_to_room_1_text  {
    visibility: visible;
  }

/* -------------------------------- JESSICA -------------------------------- */

#jessica {
  position: absolute;
  width: 60px;
  height: 140px;
  bottom: 330px;
  left: 330px;
   /* border: 6px solid purple; */
}

.jessicas_message {
  position: absolute;
  /* border: 6px solid purple; */
  bottom: 510px;
  left: 500px;
  width: 200px;
  background-color:white;
}

#knees {
  position: absolute;
  bottom: 240px;
  left: 380px;
  width: 80px;
  height: 60px;
  /* border: 6px solid purple; */
}

#cell_phone {
  position: absolute;
  bottom: 390px;
  left: 430px;
  width: 40px;
  height: 60px;
  /* border: 6px solid purple; */
}

/* --------------------------------- PLANT ---------------------------------- */

#plant {
  position: absolute;
  bottom: 230px;
  right: 42px;
  width: 80px;
  height: 140px;
  /* border: 6px solid purple; */
}

/* --------------------------------- PHONE ---------------------------------- */
#room4phone {
  position: absolute;
  top: 421px;
  left: 0px;
  width: 60px;
  height: 140px;
  /* border: 6px solid green; */
}


/* -------------------------- PHONE NUMBER NOTE ------------------------------ */

#phone_number {
  position: absolute;
  border: 6px solid purple;
  width: 200px;
  z-index: 3;
  background-color:white;
}

#room4crumpled_note{
  position: absolute;
  top: 702px;
  left: 683px;
}
