#jessica:hover, #knees:hover, #cell_phone:hover, #plant:hover, #phone_number:hover, #cell_phone:hover, #room4phone:hover, #room4crumpled_note:hover,
#vacuum:hover {
  cursor: url('../../../../images/hand.png') 30 100,auto;
}


/* -------------------------- NAVIGATE TO ROOM 5 ---------------------------- */

#room4_go_to_room_5{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 200px;
  height: 170px;
  /* border: 6px solid purple; */
}

#room4_go_to_room_5:hover{
  cursor: url('../../../../images/arrows/diagonal_right_arrow.png') 80 10,auto;
}

 #room4_go_to_room_5_text {
  width: 100px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
 }

 #room4_go_to_room_5:hover #room4_go_to_room_5_text  {
   visibility: visible;
 }

 /* -------------------------- NAVIGATE TO ROOM 1 ---------------------------- */

 #room4_go_to_room_1{
   position: absolute;
   bottom: 0px;
   left: 10px;
   width: 180px;
   height: 300px;
   /* border: 6px solid purple; */
 }

 #room4_go_to_room_1:hover{
   cursor: url('../../../../images/arrows/down_left_arrow.png') 10 30,auto;
 }

  #room4_go_to_room_1_text {
   width: 100px;
   visibility: hidden;
   background-color: black;
   color: #fff;
   border-radius: 6px;
   padding: 5px 0;
  }

  #room4_go_to_room_1:hover #room4_go_to_room_1_text  {
    visibility: visible;
  }

/* -------------------------------- JESSICA -------------------------------- */

#jessica {
  position: absolute;
  width: 60px;
  height: 140px;
  bottom: 330px;
  left: 330px;
   /* border: 6px solid purple; */
}

.jessicas_message {
    position: absolute;
    bottom: 510px;
    left: 289px;
    width: 279px;
    height: 155px;
}

.jessicas_thought_bubble {
    position: absolute;
    height: 210px;
    left: 0px;
  }

  #jessicas_message_long {
      position: absolute;
      top: 197px;
      left: 221px;
      height: 258px;
      width: 365px;
  }

  #jessicas_thought_bubble_long {
    position: absolute;
    height: 258px;
    width: 365px;
    left: 0px;
    }

  #long_text {
      position: absolute;
      width: 308px;
      top: 27px;
      left: 24px;
      font-family: 'vcr';
      font-size: 13px;
      line-height: 1.3;
  }

#stop_snooping_text {
    position: absolute;
    width: 196px;
    top: 47px;
    left: 30px;
    font-family: 'vcr';
    font-size: 13px;
    line-height: 1.3;
}

#knees_text {
    position: absolute;
    width: 207px;
    top: 19px;
    left: 30px;
    font-family: 'vcr';
    font-size: 13px;
    line-height: 1.3;
}

#cell_text {
   position: absolute;
   width: 207px;
   top: 25px;
   left: 30px;
   font-family: 'vcr';
   font-size: 13px;
   line-height: 1.3;
}

#stairs_text {
    position: absolute;
    width: 207px;
    top: 37px;
    left: 27px;
    font-family: 'vcr';
    font-size: 13px;
    line-height: 1.3;
}


#knees {
  position: absolute;
  bottom: 240px;
  left: 380px;
  width: 80px;
  height: 60px;
  /* border: 6px solid purple; */
}

#cell_phone {
  position: absolute;
  bottom: 390px;
  left: 430px;
  width: 40px;
  height: 60px;
  /* border: 6px solid purple; */
}

/* --------------------------------- PLANT ---------------------------------- */

#plant {
  position: absolute;
  bottom: 230px;
  right: 42px;
  width: 80px;
  height: 140px;
}

/* --------------------------------- Vacuum ---------------------------------- */
#vacuum {
  position: absolute;
  bottom: 210px;
  right: 0px;
  width: 30px;
  height: 170px;
}

#vacuum_text {
   position: absolute;
   width: 207px;
   top: 25px;
   left: 30px;
   font-family: 'vcr';
   font-size: 13px;
   line-height: 1.3;
}

/* --------------------------------- PHONE ---------------------------------- */
#room4phone {
  position: absolute;
  top: 421px;
  left: 0px;
  width: 60px;
  height: 140px;
  /* border: 6px solid green; */
}


/* -------------------------- PHONE NUMBER NOTE ------------------------------ */

#phone_number {
  position: absolute;
  width: 218px;
  z-index: 2;
  /* border: 1px solid purple; */
}

#clear_phone_number {
  position: absolute;
  width: 218px;
  height: 112px;
  z-index: 3;
  /* border: 1px solid purple; */
}

#room4crumpled_note{
  position: absolute;
  top: 702px;
  left: 683px;
}
