
/* -------------------------------- GENERAL --------------------------------- */

#app {
  text-align: center;
  border: 2px solid red;
}

.main_container {
  display: inline-block;
  position: relative;
  /* border: 2px solid red; */
}

/* -------------------------- LANDING PAGE CONTAINER ------------------------ */

/* ---------------------------- GENERAL GAME PLAY --------------------------- */

.traverse_rooms {
    position: absolute;
    /* border: 6px solid blue; */
    z-index: 2;
}

/* --------------------------------- PURSE ---------------------------------- */
#purse_container {
  position: absolute;
  width:150px;
  right:0px;
  top: 0px;
  z-index: 2;
  margin: 20px;
  height: 200px;
  /* border: 6px solid purple; */
}

#purse_contents {
  background: white;
  width: 150PX;
  height: 645px;
}

.cell {
  position: relative;
  width: 120px;
  height: 120px;
  z-index: 10;
  margin:10px;
      border: 6px solid purple;
}

.moon {
    position: absolute;
    z-index: -100;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    border: 6px solid purple;
}

#clearbox {
  width:120px;
  height:120px;
}

#position_text{
      position: absolute;
    border: 6px solid purple;
    top: 0px;
    right: 0px;
    left: 0px;
    color:white;
}

/* --------------------------------- PHONE ---------------------------------- */
#blinking_message_dot {
  position: absolute;
  left:325px;
  top:80px;
}

#phone_container{
  z-index: 3;
  position: absolute;
  width:400px;
  height:400px;
  margin: auto;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

#phone_message{
    border: 6px solid purple;
    background-color: white;
}

#close_phone{
  background-color:white;
}

.phone_button {
  position: absolute;
  background-color: white;
  height: 50px;
  width: 80px;
  padding-top: 10px;
  top: 111px;

}

#call_police {
  left: 199px;
}

#call_allison {
  left: 287px;
}

#police_message {
  position: absolute;
  background-color: white;
  top: 100px;
  left: 420px;
  height: 100px;
  width: 210px;
}

#each_person{
  background-color: white;
  height: 20px;
  width: 100px;
  padding: 5px;
  margin-top:10px;
  margin-bottom:10px;
}

#people_container{
  position: absolute;
  left: 227px;
  top: 180px;
  width: 110px;
}

#allison_message{
  left: 227px;
  top: 180px;
  width: 400px;
  background-color:white;
}

/* ------------------------------ TELEVISION --------------------------------- */

#tv_container {
  position: absolute;
  width: 125px;
  height: 130px;
  top: 155px;
  left: 15px;
}


/* ------------------------------- START GAME ------------------------------- */

#start_button{
  position: absolute;
  left: 0px;
  font-size: 24px;
}
