
/* -------------------------------- GENERAL --------------------------------- */

#app {
  text-align: center;
  border: 2px solid red;
}

.main_container {
  display: inline-block;
  position: relative;
  border: 2px solid red;
}

/* -------------------------- LANDING PAGE CONTAINER ------------------------ */

/* ---------------------------- GENERAL GAME PLAY --------------------------- */

.traverse_rooms {
    position: absolute;
    border: 6px solid blue;
    z-index: 2;
}

.container {
  position: absolute;
  border: 6px solid green;
  width:600px;
  height:600px;
  margin: auto;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 2;
}

/* --------------------------------- PURSE ---------------------------------- */
#purse_container {
  position: absolute;
  width:150px;
  right:0px;
  top: 0px;
  z-index: 2;
  margin: 20px;
  height: 200px;
  border: 6px solid purple;
}

#purse_contents {
  background: white;
  width: 150PX;
  height: 645px;
}

.cell {
  position: relative;
  width: 120px;
  height: 120px;
  z-index: 10;
  margin:10px;
      border: 6px solid purple;
}

.moon {
    position: absolute;
    z-index: -100;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    border: 6px solid purple;
}

#clearbox {
  width:120px;
  height:120px;
}

#position_text{
      position: absolute;
    border: 6px solid purple;
    top: 0px;
    right: 0px;
    left: 0px;
    color:white;
}

/* --------------------------------- PHONE ---------------------------------- */
#blinking_message_dot {
  position: absolute;
  left:425px;
  top:170px;
}

#phone_container{
  z-index: 3;
}

/* ------------------------------- START GAME ------------------------------- */

#start_button{
  position: absolute;
  left: 0px;
  font-size: 24px;
}
